.idea
*.retry
uploads
*.log
*.pid
.DS_Store
/static/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*


### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv
venv
venv/
ENV/
upload
logs
zentaopms_cookie.txt

# vim
*.swp

# vscode
.vscode

*.rdb
